<aside class="w-64 bg-teal-700 text-white flex flex-col fixed h-full z-30">
  <div
    class="flex items-center justify-center h-20 border-b border-teal-600 mt-4"
  >
    <img
      src="assets/img/logo_peyton_white.webp"
      alt="Logo"
      class="h-16 sidebar-logo"
    />
  </div>

  <nav class="flex flex-col p-4 space-y-1">
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="active"
      class="sidebar-link"
    >
      Dashboard
    </a>

    <a
      routerLink="/admin/inventario-productos"
      routerLinkActive="active"
      class="sidebar-link"
    >
      Productos
    </a>

    <a href="#" class="sidebar-link"> Clientes </a>

    <a href="#" class="sidebar-link"> Campañas </a>

    <a href="#" class="sidebar-link"> Inventario </a>

    <a href="#" class="sidebar-link"> Ventas </a>

    <a href="#" class="sidebar-link"> Reportes </a>

    <a href="#" class="sidebar-link"> Configurar </a>
  </nav>
</aside>
