
<footer>
    <div class="footer-container py-10">
      <!-- Contenedor Izquierdo: Logo, descripción y redes sociales -->
      <div class="footer-left flex flex-col gap-5">
        <img src="images/logo-peyton-white.webp" alt="Logo" class="footer-logo">
        <p class="footer-description">
          Moda de calidad para todos los estilos. <br />
          Encuentra tus prendas favoritas y viste <br />
          tu mejor versión cada día.
        </p>
        <div class="social-icons img">
          <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
          <a href="#"><img src="facebook-icon.PNG" alt="Facebook"></a>
          <a href="#"><img src="instagram-icon.PNG" alt="Instagram"></a>
        </div>
      </div>
  
      <!-- Contenedor Derecho: Enlaces de navegación -->
      <div class="footer-right">
        <div class="footer-section">
          <h4>Nosotros</h4>
          <ul>
            <li><a href="#">Acerca</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Quick Link</h4>
          <ul>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Recursos</h4>
          <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Moda</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
     <div class="footer-bottom flex flex-row justify-between  w-full">
        <p>© CopyRight. Todos los derechos Reservados</p>
        <img src="payment-methods.png" alt="Métodos de pago" class="payment-methods" />
      </div>
  </footer>
  
