<footer>
  <div class="footer-container">
    <!-- Contenedor Izquierdo: Logo, descripción y redes sociales -->
    <div class="footer-left">
      <img src="images/logo_peyton_white.webp" alt="Logo" class="footer-logo" />
      <p class="footer-description hidden-mobile text-center">
        Moda de calidad para todos los estilos. <br />
        Encuentra tus prendas favoritas y viste tu mejor versión cada día.
      </p>
      <br />
      <p class="footer-description">
        Siguenos en todas nuestras redes sociales
      </p>
      <div class="social-icons">
        <a href="#">
          <div
            class="flex bg-primary w-7 h-7 rounded-md items-center justify-center"
          >
            <img src="icons/whatsapp.icon.svg" alt="Twitter" />
          </div>
        </a>
        <a href="#"
          ><div
            class="flex bg-primary w-7 h-7 rounded-md items-center justify-center"
          >
            <img src="icons/facebook.icon.svg" alt="Twitter" /></div
        ></a>
        <a href="#"
          ><div
            class="flex bg-primary w-7 h-7 rounded-md items-center justify-center"
          >
            <img src="icons/instagram.icon.svg" alt="Twitter" /></div
        ></a>
        <br />
      </div>
    </div>

    <!-- Contenedor Derecho: Enlaces de navegación -->
    <div class="footer-right">
      <div class="footer-section">
        <h4>Nosotros</h4>
        <ul>
          <li><a href="#">Acerca</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Quick Link</h4>
        <ul>
          <li><a href="#">Pedidos</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Recursos</h4>
        <ul>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Moda</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <!-- Esta parte permanecerá oculta en pantallas grandes -->
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Envíos</a></li>
      <li><a href="#">Legal</a></li>
    </ul>
    <div class="footer-card">
      <p>© CopyRight. Todos los derechos Reservados</p>
      <div class="flex flex-row gap-2 mr-5">
        <img src="icons/mastercard-blanco.png" alt="mastercard">
        <img src="icons/paypal-blanco.png" alt="paypal">
        <img src="icons/visa-blanco.png" alt="visa">
        <img src="icons/expres-blanco.png" alt="expres">
      </div>
    </div>
  </div>
</footer>
