@if (this.message) {
<div
  class="flex justify-center left-0 top-0 w-full z-50 bg-secondary text-white"
>
  {{ this.message }}
</div>
}
<nav
  class=" flex items-center justify-between left-0 px-10 shadow-md w-full z-50 bg-white"
  [class]="this.navStyle"
>
  <div class="flex items-center mr-3">
    <a class="mr-8" href="" aria-label="Logo Peyton Boutique">
      <img
        ngSrc="images/logo_peyton.webp"
        width="80"
        height="80"
        alt="Logo Peyton Boutique"
      />
    </a>

    <div
      class="border border-primary flex h-12 items-center relative rounded-md w-96 hover:border-primary-dark"
    >
      <input
        type="text"
        placeholder="Busca tus Productos"
        class="focus:outline-none pl-10 w-full"
        aria-label="Buscar productos"
      />
      <div
        class="absolute flex inset-y-0 items-center left-0 pl-3 pointer-events-none"
      >
        <img
          ngSrc="icons/search.icon.svg"
          width="24"
          height="24"
          alt="Icono de búsqueda"
          class="mr-2"
        />
      </div>
    </div>
  </div>

  <div class="flex items-center space-x-10">
    <ul class="flex items-center space-x-10">
      <li>
        <a class="hover:text-primary-dark" href="" aria-label="Catálogo"
          >CATÁLOGO</a
        >
      </li>
      <li>
        <a class="hover:text-primary-dark" href="" aria-label="Novedades"
          >NOVEDADES</a
        >
      </li>
      <li>
        <a class="hover:text-primary-dark" href="" aria-label="Campaña"
          >CAMPAÑA</a
        >
      </li>
    </ul>

    @if (!isLogged) {
    <button class="btn-primary h-10 w-44" aria-label="Iniciar sesión" routerLink='/login'>
      INICIAR SESIÓN
    </button>
    }@else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="35px"
      viewBox="0 -960 960 960"
      width="35px"
      fill="currentColor"
      aria-label="Opciones de usuario"
      class="text-primary hover:text-primary-dark"
    >
      <path
        d="M480-480.67q-66 0-109.67-43.66Q326.67-568 326.67-634t43.66-109.67Q414-787.33 480-787.33t109.67 43.66Q633.33-700 633.33-634t-43.66 109.67Q546-480.67 480-480.67ZM160-160v-100q0-36.67 18.5-64.17T226.67-366q65.33-30.33 127.66-45.5 62.34-15.17 125.67-15.17t125.33 15.5q62 15.5 127.34 45.17 30.33 14.33 48.83 41.83T800-260v100H160Z"
      />
    </svg>
    }

    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="35px"
      viewBox="0 -960 960 960"
      width="35px"
      fill="currentColor"
      aria-label="Carrito de compras"
      class="text-primary hover:text-primary-dark"
    >
      <path
        d="M284.53-80.67q-30.86 0-52.7-21.97Q210-124.62 210-155.47q0-30.86 21.98-52.7Q253.95-230 284.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83Zm400 0q-30.86 0-52.7-21.97Q610-124.62 610-155.47q0-30.86 21.98-52.7Q653.95-230 684.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83ZM206-800.67h589.38q22.98 0 34.97 20.84 11.98 20.83.32 41.83L693.33-490.67q-11 19.34-28.87 30.67-17.87 11.33-39.13 11.33H324l-52 96h487.33V-286H278q-43 0-63-31.83-20-31.84-.33-68.17l60.66-111.33-149.33-316H47.33V-880h121.34L206-800.67Z"
      />
    </svg>
  </div>
</nav>
