.clip-path-logo5 {
    clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0 80%, 0 0%);
  }
  .clip-path-logo7 {
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0%);
  }

  .clip-path-logo6 {
    clip-path: polygon(70% 0%, 100% 100%, 0% 100%, 0 100%, 0 0%);
}
.clip-path-logo6 {
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);  } 


