<h1 class="mt-32 mb-5 text-center text-3xl font-bold">CATÁLOGO</h1>
<nav class="flex items-center space-x-2 text-gray-600 text-sm mb-5">
  <!-- Icono de regreso -->
  <button class="flex items-center text-gray-600 hover:text-gray-800 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>

  <!-- Breadcrumbs -->
  <a href="/" class="hover:text-primary">Inicio</a>
  <span class="text-gray-400">/</span>
  <a href="/moda-accesorios-mujer" class="hover:text-primary">Niños</a>
  <span class="text-gray-400">/</span>
  <a href="/moda-mujer" class="hover:text-primary">Juguetes</a>
  <span class="text-gray-400">/</span>
  <a href="/ropa-bano-bikinis" class="font-semibold text-black hover:text-primary">Juguetes para niñas</a>
</nav>

<div class="h-auto mb-32 mx-5">
  <div class="flex lg:flex-row md:flex-row sm:flex-col flex-col">
   <!-- Contenedor de filtros -->
    <div class="relative lg:1/4 md:w-1/4 sm:w-full w-full">
      <!-- Botón para abrir el panel, visible solo en dispositivos móviles -->
      <button 
        (click)="toggleCanvasPanel()" 
        class="px-4 py-2 mb-5 w-full bg-secondary text-white rounded hover:bg-secondary-dark lg:hidden">
        Filtrar
      </button>

      <!-- Panel deslizante (canvas), visible cuando el botón lo activa -->
      <div 
        class="fixed top-0 right-0 h-full bg-white shadow-lg transform transition-transform duration-300 z-50"
        [class.translate-x-full]="!isCanvasVisible"
        style="width: 300px;">
        
        <div class="flex justify-between items-center p-4 bg-gray-100 border-b">
          <h2 class="text-lg font-bold text-gray-700">filtros</h2>
          <button 
            (click)="toggleCanvasPanel()" 
            class="text-gray-500 hover:text-gray-700">
            ✖
          </button>
        </div>
        
        <div class="p-4">
          <aside class="w-full p-4 border-r flex flex-col">
            <div>
              <h2 class="text-xl font-bold mb-4">Ordenar por</h2>
              <select class="mb-6 p-2 border rounded w-full">
                <option>Precio</option>
                <option>Popularidad</option>
                <option>Novedades</option>
              </select>
            </div>
            
            <div>
              <h2 class="text-lg font-bold mb-2">Categoría</h2>
              <ul class="mb-4">
                <li><input type="checkbox" class="mr-2"> Camisas</li>
                <li><input type="checkbox" class="mr-2"> Pantalones</li>
              </ul>
            </div>
            
            <div>
              <h2 class="text-lg font-bold mb-2">Marca</h2>
              <ul class="mb-4">
                <li><input type="checkbox" class="mr-2"> Marca A</li>
                <li><input type="checkbox" class="mr-2"> Marca B</li>
              </ul>
            </div>
            
            <div>
              <h2 class="text-lg font-bold mb-2">Precio</h2>
              <input type="range" min="0" max="100" class="w-full bg-primary">
            </div>
          </aside>
        </div>
      </div>

      <!-- Contenido de filtros estático, visible solo en pantallas grandes -->
      <aside class="hidden lg:flex w-full p-4 border-r flex-col ">
        <div>
          <h2 class="text-xl font-bold mb-4">Ordenar por</h2>
          <select class="mb-6 p-2 border rounded w-full">
            <option>Precio</option>
            <option>Popularidad</option>
            <option>Novedades</option>
          </select>
        </div>
        
        <div>
          <h2 class="text-lg font-bold mb-2">Categoría</h2>
          <ul class="mb-4">
            <li><input type="checkbox" class="mr-2"> Camisas</li>
            <li><input type="checkbox" class="mr-2"> Pantalones</li>
          </ul>
        </div>
        
        <div>
          <h2 class="text-lg font-bold mb-2">Marca</h2>
          <ul class="mb-4">
            <li><input type="checkbox" class="mr-2"> Marca A</li>
            <li><input type="checkbox" class="mr-2"> Marca B</li>
          </ul>
        </div>
        
        <div>
          <h2 class="text-lg font-bold mb-2">Precio</h2>
          <input type="range" min="0" max="100" class="w-full">
        </div>
      </aside>
    </div>



    <!-- Contenedor de productos -->
    <div class="w-full lg:w-3/4">
      <!-- Contenedor de productos -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 ">
        <div 
          *ngFor="let product of paginatedProducts" 
          class="border rounded-lg p-2 flex flex-col items-center bg-gray-100"
        >
          <img [src]="product.imageUrl" alt="{{product.name}}" class="w-full h-60 object-cover">
          <h3 class="text-lg font-bold mt-2">{{ product.name }}</h3>
          <p class="text-gray-600 mt-1">{{ product.price | currency }}</p>
        </div>
      </div>
    
      <!-- Paginación -->
      <div class="flex justify-center mt-8 space-x-4 text-white">
        <button 
          (click)="prevPage()" 
          [disabled]="currentPage === 1" 
          class="px-4 py-2 bg-green-600 rounded hover:bg-green-800 disabled:opacity-50"
        >
          Anterior
        </button>
        <button 
          (click)="nextPage()" 
          [disabled]="currentPage === totalPages" 
          class="px-4 py-2 bg-green-600 rounded hover:bg-green-800 disabled:opacity-50"
        >
          Siguiente
        </button>
      </div>
    </div>
    
  </div>
</div>


