.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@keyframes pulse-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #00a48a; /* Primary color */
  }
  100% {
    border-color: transparent;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
}

.group:hover {
  animation: float 2s ease-in-out infinite;
}

@media (max-width: 640px) {
  .group:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }

  .group {
    transition: all 0.2s ease-in-out;
  }
}
