<div
  class="relative w-full overflow-hidden px-4 sm:px-12 lg:px-20 py-6 sm:py-16 lg:py-20"
>
  <div
    class="flex items-center lg:items-start justify-between lg:justify-start mb-4 sm:mb-6"
  >
    <div class="text-center lg:text-left w-full">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl font-bold text-secondary mb-3 sm:mb-4"
      >
        Categorías
      </h2>
      <div
        class="w-16 sm:w-24 h-1 bg-primary mx-auto md:mx-0 mb-4 sm:mb-6"
      ></div>
    </div>

    <!-- Botones de navegación solo visibles en pantallas más grandes -->
    <div class="hidden sm:flex space-x-2">
      <button
        class="p-2 rounded-full bg-gray-100 text-secondary hover:bg-primary hover:text-white transition-colors duration-300 disabled:opacity-50 disabled:bg-gray-100 disabled:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary"
        (click)="scrollLeft()"
        [disabled]="isScrollLeftDisabled"
        aria-label="Scroll left"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 sm:h-5 sm:w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <button
        class="p-2 rounded-full bg-gray-100 text-secondary hover:bg-primary hover:text-white transition-colors duration-300 disabled:opacity-50 disabled:bg-gray-100 disabled:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary"
        (click)="scrollRight()"
        [disabled]="isScrollRightDisabled"
        aria-label="Scroll right"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 sm:h-5 sm:w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Carrusel -->
  <div
    class="flex gap-2 sm:gap-4 overflow-x-auto scroll-smooth no-scrollbar w-full px-0.5 py-1"
    #carousel
  >
    <div
      *ngFor="let categoria of categorias"
      class="flex flex-col items-center justify-center basis-[42%] xs:basis-[35%] sm:basis-[48%] md:basis-[30%] lg:basis-[22%] flex-shrink-0 h-32 xs:h-36 sm:h-48 md:h-56 lg:h-64 rounded-lg shadow-sm hover:shadow-lg border border-gray-100 hover:border-primary group cursor-pointer transition-all duration-300 ease-in-out active:scale-95"
      [class]="categoria.color"
      (click)="selectCategory(categoria.nombre)"
    >
      <div
        class="w-12 h-12 xs:w-14 xs:h-14 sm:w-20 sm:h-20 lg:w-24 lg:h-24 rounded-full bg-white flex items-center justify-center mb-2 sm:mb-4 shadow-sm group-hover:shadow-md group-hover:bg-primary/10 transition-all duration-300"
      >
        <img
          [src]="categoria.icon"
          alt="{{ categoria.nombre }}"
          class="w-6 h-6 xs:w-8 xs:h-8 sm:w-12 sm:h-12 lg:w-16 lg:h-16"
        />
      </div>
      <p
        class="text-center text-sm sm:text-base lg:text-lg font-medium text-secondary group-hover:text-primary transition-colors duration-300 px-1"
      >
        {{ categoria.nombre }}
      </p>
    </div>
  </div>
</div>
