<div class="container mx-auto px-6 my-10 mt-32">
  <h1 class="text-center text-2xl font-bold mb-8 text-secondary">Carrito de Compra</h1>
  <div class="flex flex-wrap lg:flex-nowrap justify-between gap-6">
    <!-- Items del Carrito -->
    <div class="flex-1">
      <div *ngFor="let item of items" class="flex items-center gap-4 p-4 bg-white mb-4 rounded shadow">
        <img [src]="item.imagen" alt="{{item.nombre}}" class="w-24 h-auto rounded">
        <div class=" flex lg:flex-row  md:flex-row sm:flex-col flex-col w-full">
          <div class="flex-1 ">
            <h2 class="text-lg font-medium">{{item.nombre}}</h2>
            <p class="text-gray-600">Color: {{item.color}} | Talla: {{item.talla}}</p>
          </div>
          <div class="flex flex-row gap-4 justify-center items-center ">
            <div>
              <input type="number" [value]="item.cantidad" min="1" class="w-16 p-2 border rounded text-center">
            </div>
            <div>
              <p class="text-lg font-bold">S/ {{item.precio* item.cantidad}}</p>
            </div>
            <button class="text-gray-500 text-xl text-center" (click)="eliminarProducto(item)">x</button>
          </div>
        </div> 
      </div>
    </div>
    
    <!-- Resumen del Pedido -->
    <div class="w-full lg:w-96">
      <div class="p-6 bg-white rounded-lg shadow-xl border-2 border-gray-200">
        <h2 class="text-xl font-bold mb-4">Resumen de Pedido</h2>
        <div class="flex justify-between mb-2">
          <p class="text-gray-700">Subtotal:</p>
          <p class="text-gray-700">S/ {{ subtotal }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <p class="text-gray-700">Costo de Envío:</p>
          <p class="text-gray-700">S/ 0</p>
        </div>
        <div class="flex justify-between mb-4">
          <p class="text-gray-700 font-bold">Total:</p>
          <p class="font-bold text-lg">S/ {{ total }}</p>
        </div>
        <button
          class="w-full bg-secondary text-white py-2 rounded-lg mb-2"
          (click)="procederPago()">
          Proceder con el pago
        </button>
        <button class="w-full bg-gray-100 text-secondary py-2 rounded-lg border-2 border-secondary" routerLink='/catalogo'>Continuar Comprando</button>

      </div>
      <div class="text-center mt-4">
        <div class="flex flex-row justify-center text-center gap-2 mt-10">
          <img src="assets/icons/lock-solid.svg" alt="" class="w-5 h-5">
          <p class="mb-2 text-secondary font-bold">Pago seguro con:</p>
        </div>
        <div class="flex justify-center space-x-4">
          <img src="assets/icons/cc-visa-brands-solid.svg" alt="Visa" class="w-12 h-10">
          <img src="assets/icons/cc-mastercard-brands-solid.svg" alt="MasterCard" class="w-12 h-10">
          <img src="assets/icons/cc-paypal-brands-solid.svg" alt="PayPal" class="w-12 h-10">
        </div>
      </div>
    </div>
  </div>
</div>

  
