<div class="landing-container">
  <app-banner></app-banner>
  <app-categorias></app-categorias>
    
  <div class="w-full bg-gray-50 flex flex-col justify-center items-center mx-auto pt-10 px-4 sm:px-6 md:px-8 lg:px-10">
    <!-- Campaña Escolar -->
    <app-campania></app-campania>
  
    <!-- Destacados -->
    <app-destacados></app-destacados>
  </div>
  
  
  <!-- Sección de suscripción -->
  <app-suscripcion></app-suscripcion>
  
  <!-- Sección de testimonios -->
  <app-testimonios></app-testimonios>


</div>