<div class="mt-24  lg:px-20">
  <!-- Breadcrumb -->
  <nav class="p-3 mb-4">
    <ul class="flex space-x-2 text-xs md:text-base text-gray-600">
      <li>
        <a href="/" class="hover:underline">Inicio</a>
      </li>
      <li>/</li>
      <li>
        <a href="/catalogo" class="hover:underline">Catálogo</a>
      </li>
      <li>/</li>
      <li class="text-gray-500">{{ product?.nombre }}</li>
    </ul>
  </nav>

  <div class="flex flex-col md:flex-row gap-4 p-4">
    <!-- Imagenes -->
    <div class="w-full md:w-2/3 lg:w-2/3 flex flex-col lg:flex-row gap-4">
      <img
    *ngIf="selectedVariante"
    [src]="selectedVariante.imagen"
    height="100"
    width="100"
    alt="{{ product?.nombre }} - {{ selectedVariante.talla }} {{ selectedVariante.color }}"
    class="border-2 border-gray-400 rounded-lg w-full md:w-80 lg:w-3/4 max-w-full h-auto lg:order-2 object-cover"
  />
  <!-- Miniaturas -->
  <div class="w-full md:w-auto flex justify-between lg:flex-col lg:order-1 lg:w-1/4 gap-2">
    <img
      *ngFor="let variante of product?.variantes"
      [src]="variante.imagen"
      height="60"
      width="60"
      alt="{{ product?.nombre }} - {{ variante.talla }} {{ variante.color }}"
      class="p-2 border-2 rounded-lg w-1/4 md:w-16 lg:w-full max-w-full h-auto
        border-gray-400 hover:border-gray-600
        cursor-pointer
        "
      [class.border-primary]="variante === selectedVariante"
      (click)="selectVariante(variante)"
    />
  </div>
    </div>

    
    <div class="w-full md:w-1/3 lg:w-1/3 flex flex-col gap-4">
      <!-- Nombre y Precio -->
      <div class="m-2 space-y-5">
        <h3 class="text-xl font-semibold md:text-2xl">{{ product?.nombre}}</h3>
        <span class="md:text-lg lg:text-xl">{{ product?.precio| currency:'PEN ':'symbol':'1.2-2' }}</span>
      </div>

      <!-- Tallas -->
      <div class="flex flex-wrap gap-2">
        <button class="btn-size" *ngFor="let talla of tallasUnicas" [class.selected]="tallaSeleccionada === talla"
          (click)="selectTalla(talla)">
          {{ talla }}
        </button>
      </div>

      <!-- Colores -->
      <div class="flex flex-wrap gap-2 mt-2">
        <button class="btn-color flex items-center justify-center p-0 border-2 border-gray-300"
          *ngFor="let color of coloresUnicos"
          [ngStyle]="{'background-color': (color | colorHex), 'width': '32px', 'height': '32px', 'border-radius': '50%'}"
          [attr.title]="color" [class.selected]="colorSeleccionado === color" (click)="selectColor(color)">
        </button>
      </div>

      <!-- Cantidad -->
      <div class="flex rounded-lg overflow-hidden h-9 md:h-12 border-2">
        <button class="btn-secondary w-8" (click)="decrementarCantidad()">-</button>
        <input type="number" class="w-12 appearance-none outline-transparent text-center h-9 md:h-12"
          [(ngModel)]="cantidadSeleccionada" min="1" step="1" />
        <button class="btn-secondary w-8" (click)="cantidadSeleccionada = cantidadSeleccionada + 1">+</button>
      </div>
      <button class="btn-secondary h-9 md:h-12 w-40 md:w-48 text-sm md:text-base" (click)="agregarAlCarrito()">
        Agregar al Carrito
      </button>

      <!-- Descripcion -->
      <details class="group">
        <summary
          class="mt-2 ml-2 font-semibold flex items-center cursor-pointer md:text-lg"
        >
          Descripción del Producto
          <span
            class="mr-2 transform transition-transform group-open:rotate-180"
          >
            <img src="assets/icons/chevron.icon.svg" alt="arrow"
          /></span>
        </summary>

        <p
          class="ml-2 mt-1 text-xs md:text-base transition-opacity duration-300 ease-in-out opacity-0 group-open:opacity-100 md:w-80 xl:w-96 text-wrap"
        >
          {{ product?.descripcion }}
        </p>
      </details>
    </div>
  </div>
<!-- Artículos Relacionados -->
<div class="p-3 flex flex-col space-y-2">
  <div class="flex align-middle items-center">
    <div class="h-5 w-2 rounded-lg bg-primary mr-3"></div>
    <h4 class="text-primary font-semibold">Artículos Relacionados</h4>
  </div>

  <div class="relative">
    <!-- Contenedor con desplazamiento horizontal -->
    <div
      class="flex overflow-x-auto no-scrollbar md:overscroll-none w-full space-x-4"
      style="max-width: 100%;"
    >
      <app-product-card
        *ngFor="let relatedProduct of relatedProducts"
        [product]="relatedProduct"
        class="product-card"
      ></app-product-card>
    </div>
    <div *ngIf="relatedProducts.length === 0" class="text-center text-gray-500">
      No hay artículos relacionados disponibles.
    </div>
  </div>
</div>
  
</div>


<!-- Mensaje de carga o error -->
<div *ngIf="!product" class="text-center mt-32 text-lg text-gray-500">
  Cargando producto...
</div>
