<div class="mt-24 lg:px-5">
  <!-- Breadcrumb -->
  <nav class="p-3 mb-4">
    <ul class="flex space-x-2 text-xs md:text-base text-gray-600">
      <li>
        <a href="/" class="hover:underline">Inicio</a>
      </li>
      <li>/</li>
      <li>
        <a href="/productos" class="hover:underline">Productos</a>
      </li>
      <li>/</li>
      <li class="text-gray-500">Nombre del Producto</li>
    </ul>
  </nav>

  <div class="flex flex-col md:flex-row gap-4 p-4">
    <!-- Imagenes -->
    <div
      class="w-full md:w-2/3 lg:w-2/3 flex flex-col lg:flex-row gap-4 justify-center items-center"
    >
      <img
        [ngSrc]="mainImageSrc"
        height="100"
        width="100"
        alt=""
        class="border-2 border-gray-400 rounded-lg w-full md:w-96 lg:w-3/4 2xl:w-1/2 max-w-full h-auto lg:order-2 object-cover"
        priority
      />
      <div
        class="w-full lg:w-1/3 justify-center flex lg:flex-col lg:order-1 gap-2 items-center"
      >
        <img
          ngSrc="images/logo_peyton.webp"
          height="60"
          width="60"
          alt=""
          class="img-small"
          (click)="changeMainImage('images/logo_peyton.webp')"
        />
        <img
          ngSrc="images/login_image.webp"
          height="60"
          width="60"
          alt=""
          class="img-small"
          (click)="changeMainImage('images/login_image.webp')"
        />
        <img
          ngSrc="images/logo_peyton_white.webp"
          height="60"
          width="60"
          alt=""
          class="img-small"
          (click)="changeMainImage('images/logo_peyton_white.webp')"
        />
      </div>
    </div>

    <div class="w-full md:w-1/3 lg:w-1/3 flex flex-col gap-4">
      <!-- Nombre y Precio -->
      <div class="m-2 space-y-5">
        <h3 class="text-xl font-semibold md:text-2xl">Nombre del Producto</h3>
        <span class="md:text-lg lg:text-xl">S/. 500</span>
      </div>

      <!-- Tallas -->
      <div class="flex flex-wrap gap-2">
        <button class="btn-size">XS</button>
        <button class="btn-size">S</button>
        <button class="btn-size">M</button>
        <button class="btn-size">L</button>
        <button class="btn-size">XL</button>
      </div>

      <!-- Botones -->
      <div class="flex flex-col space-y-4 m-2">
        <div class="flex items-center">
          <label for="quantity" class="mr-4">Cantidad:</label>
          <div class="flex">
            <button class="btn-secondary w-8 h-9 md:h-12" (click)="decrement()">
              -
            </button>
            <input
              type="text"
              class="w-12 appearance-none outline-none text-center h-9 md:h-12"
              [(ngModel)]="quantity"
              min="1"
              step="1"
              id="quantity"
              readonly
            />
            <button class="btn-secondary w-8 h-9 md:h-12" (click)="increment()">
              +
            </button>
          </div>
        </div>
        <button
          class="btn-secondary h-9 md:h-12 w-40 md:w-48 text-sm md:text-base"
        >
          Agregar al Carrito
        </button>
      </div>

      <!-- Descripcion -->
      <details class="group">
        <summary
          class="mt-2 ml-2 font-semibold flex items-center cursor-pointer md:text-lg"
        >
          Descripción del Producto
          <span
            class="mr-2 transform transition-transform group-open:rotate-180"
          >
            <img src="icons/chevron.icon.svg" alt="arrow"
          /></span>
        </summary>

        <p
          class="ml-2 mt-1 text-xs md:text-base transition-opacity duration-300 ease-in-out opacity-0 group-open:opacity-100 md:w-80 xl:w-96 text-wrap max-w-full"
        >
          PlayStation 5 Controller Skin High quality vinyl with air channel
          adhesive for easy bubble free install & mess free removal Pressure
          sensitive.
        </p>
      </details>
    </div>
  </div>

  <!-- Articulos Relacionados -->
  <div class="p-3 flex flex-col space-y-2">
    <div class="flex align-middle items-center">
      <div class="h-5 w-2 rounded-lg bg-primary mr-3"></div>
      <h4 class="text-primary font-semibold">Artículos Relacionados</h4>
    </div>

    <div class="relative">
      <div
        class="flex overflow-x-scroll no-scrollbar md:overscroll-none w-full"
      >
        <app-product-card class="product-card"></app-product-card>
        <app-product-card class="product-card"></app-product-card>
        <app-product-card class="product-card"></app-product-card>
        <app-product-card class="product-card"></app-product-card>
        <app-product-card class="product-card"></app-product-card>
      </div>
    </div>
  </div>
</div>
