<div class="flex pt-10 h-auto" role="main">
  <img
    ngSrc="images/signup_image.webp"
    alt="Imagen de formulario de registro"
    width="980"
    height="875"
    priority
    class="rounded-r-lg items-center-center h-auto w-1/2 hidden md:flex object-cover"
  />

  <div
    class="flex flex-col md:justify-center mt-4 items-center p-1 space-y-3 w-full md:w-1/2 lg:py-10 md:py-10 sm:py-10 py-10"
  >
    <header class="flex flex-col items-center justify-center">
      <img
        ngSrc="images/logo_peyton.webp"
        alt="Logo Peyton Boutique"
        width="150"
        height="150"
        class="h-32 w-32 md:h-40 md:w-40"
      />
      <h2 class="font-semibold text-center md:text-lg">
        Regístrate para realizar tus pedidos
      </h2>
    </header>

    <!-- Se añadió (ngSubmit)="onSubmit()" -->
    <form
      [formGroup]="signupForm()"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center justify-center space-y-1 w-full"
    >
      <app-input
        [control]="$any(signupForm().get('name'))"
        label="Nombre"
        placeholder="Ingrese el nombre"
        type="text"
        errorMessage="El nombre es requerido"
        class="w-5/6"
      ></app-input>

      <app-input
        [control]="$any(signupForm().get('email'))"
        label="Correo"
        placeholder="Ingrese el email"
        type="email"
        errorMessage="El email es requerido"
        class="w-5/6"
      ></app-input>

      <app-input
        [control]="$any(signupForm().get('password'))"
        label="Contraseña"
        placeholder="Ingrese la contraseña"
        type="password"
        errorMessage="La contraseña es requerida"
        class="w-5/6"
      ></app-input>

      <button
        type="submit"
        class="btn-secondary w-36 h-10 text-sm md:w-48 md:h-12 md:text-base"
      >
        Registrarme
      </button>
    </form>

    <div class="flex flex-col items-center mt-3 space-y-2">
      <div class="flex">
        <p class="mr-1 text-sm md:text-base">¿Ya tienes una cuenta?</p>
        <a
          class="text-secondary hover:text-secondary-dark text-sm md:text-base"
          routerLink="/login"
        >
          Inicia Sesión
        </a>
      </div>
      <p class="md:text-xl">-O-</p>
      <button
        class="border border-secondary flex items-center justify-center h-10 px-5 py-3 w-72 rounded-lg hover:border-secondary-dark hover:bg-gray-100 md:h-12"
      >
        <img
          ngSrc="icons/google.icon.svg"
          alt="Google Icon"
          width="25"
          height="25"
          class="mr-2"
        />
        <span class="ml-3 font-medium text-sm md:text-base">
          Inicia Sesión con Google
        </span>
      </button>
    </div>
  </div>
</div>
