<div class="flex h-screen items-start pt-20">
  <img
    ngSrc="images/signup_image.webp"
    alt="Imagen signup"
    width="980"
    height="900"
    priority
    class="h-full rounded-r-lg w-auto"
  />
  <div
    class="bg-white flex flex-col h-full items-center m-0 p-10 space-y-10 w-1/2"
  >
    <div class="flex flex-col items-center">
      <img
        ngSrc="images/logo_peyton.webp"
        width="150"
        height="150"
        alt="Logo Peyton Boutique"
      />
      <h3 class="font-semibold text-lg">
        Regístrate para realizar tus pedidos
      </h3>
    </div>

    <form class="flex flex-col items-center space-y-6 w-5/6" action="">
      <app-input
        [control]="$any(signupForm().get('name'))"
        label="Nombre"
        placeholder="Ingrese el nombre"
        type="text"
        errorMessage="El nombre es requerido"
        class="w-full"
      ></app-input>

      <app-input
        [control]="$any(signupForm().get('email'))"
        label="Correo"
        placeholder="Ingrese el email"
        type="email"
        errorMessage="El email es requerido"
        class="w-full"
      ></app-input>

      <app-input
        [control]="$any(signupForm().get('password'))"
        label="Contraseña"
        placeholder="Ingrese la contraseña"
        type="password"
        errorMessage="La contraseña es requerida"
        class="w-full"
      ></app-input>

      <button type="submit" class="btn-secondary h-12 w-44" routerLink='/register'>Registrarme</button>
    </form>

    <div class="flex flex-col items-center space-y-3">
      <div class="flex">
        <p class="mr-1">¿Ya tienes una cuenta?</p>
        <a class="text-secondary hover:text-secondary-dark" href=""
          >Inicia Sesión</a
        >
      </div>
      <p class="text-xl">-O-</p>
      <button
        class="border border-secondary flex h-12 justify-center items-center px-5 py-3 rounded-lg w-72 hover:border-secondary-dark hover:bg-gray-100"
      >
        <img
          ngSrc="icons/google.icon.svg"
          width="25"
          height="25"
          alt="Google Icon"
          class="mr-2"
        />
        <span class="ml-3 text-sm">Inicia Sesión con Google</span>
      </button>
    </div>
  </div>
</div>
