<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 p-6 bg-gray-50 p-20 lg:px-40 px-14 mb-20 mt-10">
    <div class="flex items-center bg-white p-4 rounded-lg shadow-md">
      <div class="mr-4">
        <img src="icons/shopping_cart.icon.svg" alt="Best prices" class="w-8 h-8" />
      </div>
      <div>
        <h3 class="font-bold text-lg">Best prices & offers</h3>
        <p class="text-sm text-gray-600">Orders $50 or more</p>
      </div>
    </div>
    <div class="flex items-center bg-white p-4 rounded-lg shadow-md">
      <div class="mr-4">
        <img src="icons/shopping_cart.icon.svg" alt="Free delivery" class="w-8 h-8" />
      </div>
      <div>
        <h3 class="font-bold text-lg">Free delivery</h3>
        <p class="text-sm text-gray-600">24/7 amazing services</p>
      </div>
    </div>
    <div class="flex items-center bg-white p-4 rounded-lg shadow-md">
      <div class="mr-4">
        <img src="icons/shopping_cart.icon.svg" alt="Great daily deal" class="w-8 h-8" />
      </div>
      <div>
        <h3 class="font-bold text-lg">Great daily deal</h3>
        <p class="text-sm text-gray-600">When you sign up</p>
      </div>
    </div>
    <div class="flex items-center bg-white p-4 rounded-lg shadow-md">
      <div class="mr-4">
        <img src="icons/shopping_cart.icon.svg" alt="Wide assortment" class="w-8 h-8" />
      </div>
      <div>
        <h3 class="font-bold text-lg">Wide assortment</h3>
        <p class="text-sm text-gray-600">Mega Discounts</p>
      </div>
    </div>
    <div class="flex items-center bg-white p-4 rounded-lg shadow-md">
      <div class="mr-4">
        <img src="icons/shopping_cart.icon.svg" alt="Easy returns" class="w-8 h-8" />
      </div>
      <div>
        <h3 class="font-bold text-lg">Easy returns</h3>
        <p class="text-sm text-gray-600">Within 30 days</p>
      </div>
    </div>
  </div>
  
