<!-- Campaña Escolar -->
<div class="text-center mb-20 w-full p-4">
    <h2 class="text-lg font-semibold tracking-wide border-b border-gray-300 py-2 ">
      CAMPAÑA ESCOLAR
    </h2>
    <div class="relative mt-4">
      <img
        src="https://cdn.www.gob.pe/uploads/campaign/photo/000/020/951/Banner-Intranet__2_.jpg"
        alt="Campaña Escolar"
        class="object-cover w-[1500px] h-[300px]"
      />
      <button class="absolute bottom-4 left-1/2 transform -translate-x-1/2   bg-white text-teal-900 font-bold px-6 py-2 rounded shadow hover:bg-teal-800 shadow hover:bg-gray-200 hover:text-white">
        VER MÁS
      </button>
    </div>
  </div>
